<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'messsage-image' if message.image.attached? %>
    <!-- image_tagメソッドでmessageモデルのimageのimg要素を生成する
         attached?メソッドで画像が存在する場合のみimage_tagが読み込まれるようにする
         variantメソッドでファイルのサイズを指定する                              -->
  </div>
</div>